<title>Streamhub - Forgot password</title>
<div class="outer-box-form-forgotpass">
  <div class="login-title">
    <%= link_to  root_path do  %>
    <img src="https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591093402/white_logo_transparent_background_uqnxhu.png" alt="Streamhub" class="form-logo-big">
    <% end %>
    <h5>Forgot your password?</h5>
  </div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                input_html: { class: "login-input", placeholder: "email", autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reset my password", { class: "submit-login-button" } %>
  </div>
<% end %>

<div class="d-flex justify-content-between">
    <%= link_to "Log in", new_session_path(resource_name), {class: "login-devise-link"} %>
    <%= link_to "Sign up", new_registration_path(resource_name), {class: "signup-devise-link"} %>
  </div>

</div>
