<div class="outer-box-auth">
  <div class="auth-title">
    <%= link_to  root_path do  %>
    <img src="https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591093402/white_logo_transparent_background_uqnxhu.png" alt="Streamhub" class="form-logo-small">
    <% end %>
    <h5>Link your accounts</h5>
  </div>

  <div class="social-icons">

    <div class="logo-button">
      <%= image_tag('twitchlogo-s.png') %>
      <% if has_provider?(current_user, "twitch") %>
        <button type="button" class="btn btn-primary">connected <i class="fas fa-check"></i></button>
      <% else %>
        <button type="button" class="btn btn-primary">connect</button>
      <% end %>
    </div>

    <div class="logo-button">
      <%= image_tag('mixerlogo-s.png') %>
      <% if has_provider?(current_user, "mixer") %>
        <button type="button" class="btn btn-primary">connected <i class="fas fa-check"></i></button>
      <% else %>
        <button type="button" class="btn btn-primary">connect</button>
      <% end %>
    </div>

    <div class="logo-button">
      <%= image_tag('youtubelogo-s.png') %>
      <% if has_provider?(current_user, "youtube") %>
        <button type="button" class="btn btn-primary">connected <i class="fas fa-check"></i></button>
      <% else %>
        <button type="button" class="btn btn-primary">connect</button>
      <% end %>
    </div>

    <div class="logo-button">
      <%= image_tag('facebooklogo-s.png') %>
      <% if has_provider?(current_user, "facebook") %>
        <button type="button" class="btn btn-primary">connected <i class="fas fa-check"></i></button>
      <% else %>
        <button type="button" class="btn btn-primary">connect</button>
      <% end %>
    </div>
  </div>
</div>

