<div class="outer-box-auth">
  <button type="button" id= "close-btn" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
  <div class="auth-title">
    <%= link_to  root_path do  %>
    <img src="https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591093402/white_logo_transparent_background_uqnxhu.png" alt="Streamhub" class="form-logo-small">
    <% end %>
    <h5>Link your accounts</h5>
  </div>

  <div class="social-icons">

    <div class="logo-button">
      <%= image_tag('TwitchGlitchPurple.svg', size: '70x70') %>
      <% if has_provider?(current_user, "twitch") %>
        <button type="button" class="btn btn-primary">connected <i class="fas fa-check"></i></button>
      <% else %>
        <%= link_to user_twitch_omniauth_authorize_path, class: "stream-button" do %>
        <button type="button" class="btn btn-primary">connect</button>
        <% end %>
      <% end %>
    </div>

    <div class="logo-button">
      <%= image_tag('MixerMerge_Dark.svg', size: '70x70') %>
      <% if has_provider?(current_user, "mixer") %>
        <button type="button" class="btn btn-primary">connected <i class="fas fa-check"></i></button>
      <% else %>
        <%= link_to user_mixer_omniauth_authorize_path, class: "stream-button" do %>
        <button type="button" class="btn btn-primary">connect</button>
        <% end %>
      <% end %>
    </div>


    <div class="logo-button">
      <%= image_tag('facebook-gaming-logo.svg', size: '70x70') %>
      <% if has_provider?(current_user, "dlive") %>
        <button type="button" class="btn btn-primary">connected <i class="fas fa-check"></i></button>
      <% else %>
        simple_form_for
        <%#class: "stream-button" %>
        <button type="button" class="btn btn-primary">connect</button>
        <% end %>
      <% end %>
    </div>

    <div class="logo-button">
      <%= image_tag('YouTube.svg', size: '70x70') %>
      <% if has_provider?(current_user, "youtube") %>
        <button type="button" class="btn btn-primary">connected <i class="fas fa-check"></i></button>
      <% else %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, class: "stream-button" do %>
          <button type="button" class="btn btn-primary">connect</button>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

