<div class="outer-box-form">
  <div class="login-title">
    <h2>Log in</h2>
  </div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                input_html: { class: "login-input", placeholder: "email", autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                label: false,
                input_html: { class: "login-input", placeholder: "password", autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", { class: "submit-login-button" }%>
  </div>
<% end %>

<!-- <div class="d-flex justify-content-between"> -->
<%= render "devise/shared/links" %>
<!-- </div> -->

</div>
